automatejob copy email (3).json
{
  "name": "automatejob copy email",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload Knowledge Base Data",
        "formDescription": "Upload files containing pricing, product information, and terms for quote generation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv, .json",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "892e643c-cbcf-4345-bd15-5fd9c50aac17",
      "name": "Upload Knowledge Base Files",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        1504,
        20528
      ],
      "webhookId": "bb5b15b4-3f8b-48df-affa-166c6853b5a8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "eb7a29e0-6188-4c94-9dff-5b93420b820b",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "59678501-2548-413f-83ab-3ceacb9538e7",
      "name": "Webhook - Quote Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1248,
        20960
      ],
      "webhookId": "eb7a29e0-6188-4c94-9dff-5b93420b820b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "620efe59-f1a8-44ff-a50f-0a5f62a15915",
        "options": {}
      },
      "id": "bbfacbcc-d415-4995-980f-58cb97ea19e3",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1584,
        22032
      ],
      "webhookId": "620efe59-f1a8-44ff-a50f-0a5f62a15915"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "528d06be-6a6e-4b88-b300-ef011c30917b",
      "name": "Insert Data to Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1792,
        20496
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowledge base to retrieve pricing, product information, and terms for generating quotes",
        "memoryKey": {
          "mode": "id",
          "value": "vector_store_key"
        }
      },
      "id": "7152fcdc-7951-4783-b4c4-c83b90333831",
      "name": "Query Data Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        3040,
        21248
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "4aae656b-9fc2-406e-8d96-0670264e56da",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1872,
        20688
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e0fd4991-589e-4f9d-935e-5ed9a1d153f0",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2400,
        21264
      ],
      "credentials": {
        "openAiApi": {
          "id": "PWBzyLQJa7YNcOBo",
          "name": "OpenAi account aqib"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a95334f3-60db-42d5-bb55-79d2a8ef6ea0",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1552,
        21152
      ],
      "credentials": {
        "openAiApi": {
          "id": "PWBzyLQJa7YNcOBo",
          "name": "OpenAi account aqib"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Request details:\n{{ JSON.stringify($json.body, null, 2) }}",
        "options": {
          "systemMessage": "You are a professional quote generation assistant. Your task is to create detailed, accurate quotes based on the information provided in the request and relevant knowledge from the knowledge base.\n\nYour process:\n1. Analyze the request details provided\n2. Use the knowledge_base tool to retrieve relevant pricing, product information, and terms\n3. Generate a comprehensive quote that includes:\n   - Quote ID and date\n   - Customer information from the request\n   - Itemized list of products/services with descriptions\n   - Pricing breakdown (unit prices, quantities, subtotals)\n   - Total amount\n   - Terms and conditions\n   - Validity period\n\nFormat the quote professionally and ensure all information is accurate and complete. Use the knowledge base to fill in any missing details about products, services, or pricing."
        }
      },
      "id": "2282ea31-dc3a-4eb9-b3c3-a3ef88527bcf",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1552,
        20960
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n\nif (!body || !body.customer_data) {\n  throw new Error('Invalid webhook payload: customer_data missing');\n}\n\nconst customer = body.customer_data;\n\n// AUTHORITATIVE FIELDS (never guessed)\nconst date = customer.visitDate;\nconst customerEmail = customer.contactEmail;\n\nif (!date) {\n  throw new Error('visitDate is missing');\n}\n\nif (!customerEmail) {\n  throw new Error('contactEmail is missing');\n}\n\n// SCHEDULING DEFAULTS (since AI is removed)\nconst startTime = \"09:00\"; // fixed default for now\nconst duration = 2;       // fixed default for now\n\nreturn {\n  date,\n  startTime,\n  duration,\n  summary: `Service Visit - ${customer.contactName}`,\n  description: `Service visit for ${customer.contactName} at ${customer.address}. ${customer.serviceType || 'Service'} for ${customer.elevatorBrand || 'elevator'}.`,\n  customerEmail\n};\n"
      },
      "id": "45e48144-00c7-4dc0-9b0e-31ab549cd5c3",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        22032
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "b3395288193ab0d29dae6e0c7f8bee7beccbb265c65f9d9d0b1ea790cf281d8f@group.calendar.google.com",
          "__regex": "(^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"
        },
        "start": "={{ $json.date }}T{{ $json.startTime }}:00",
        "end": "={{ DateTime.fromISO($json.date + 'T' + $json.startTime).plus({ hours: Number($json.duration) }).toISO() }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.customerEmail }}"
          ],
          "description": "={{ $json.description }}",
          "summary": "={{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2192,
        22032
      ],
      "id": "ca755622-b546-4810-8e8c-ed717c7838c3",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8UsrYaIKLiJdfYfh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer email: {{ $json.query.email }}\n\nQuote data: {{ JSON.stringify($json.query, null, 2) }}",
        "options": {
          "systemMessage": "You are a professional price negotiation assistant for an elevator service company.\n\nCONTEXT:\nYou may have access to the original quote data if it was provided in the request. Use this information to have an informed conversation about pricing and services.\n\nYOUR ROLE:\n1. Help customers understand their quote in detail (if quote data is available)\n2. Answer questions about pricing, services, line items, and terms\n3. Negotiate pricing within company guidelines (max 15% discount from original total)\n4. Gather additional information if the customer needs quote modifications\n5. Use the knowledge_base tool to retrieve detailed pricing information and service specifications\n6. If no quote data is available, still provide helpful information about services and general pricing\n\nNEGOTIATION GUIDELINES:\n- Be professional, empathetic, and consultative\n- Explain the value proposition clearly (quality, reliability, expertise)\n- Only offer discounts when justified:\n  * Volume discounts for multiple units or long-term contracts\n  * Loyalty discounts for returning customers\n  * Urgency-based pricing adjustments\n- Maximum discount: 15% off the original total price\n- Always explain what is included in the price\n- Confirm final pricing clearly before closing\n- Ask clarifying questions when customer requests are unclear\n- If quote data is not available, use the knowledge_base tool to provide general pricing information\n\nWHEN CUSTOMER ACCEPTS NEGOTIATED PRICE:\nProvide a clear summary including:\n- Final agreed price (show original vs. negotiated)\n- All services and items included\n- Terms and conditions\n- Next steps (payment, scheduling, etc.)\n- Any special conditions or agreements made\n\nREMEMBER:\n- You cannot go below 85% of the original quote total (when quote data is available)\n- Be transparent about what you can and cannot adjust\n- If customer asks for something outside your authority, acknowledge it and suggest escalation\n- If no quote data is provided, still be helpful by answering questions using the knowledge base"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2560,
        20512
      ],
      "id": "1938c5f6-ecd0-434b-af17-5494544f0d4f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2544,
        20848
      ],
      "id": "d6657491-9946-4dbc-a409-3bc7b0a67e5e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PWBzyLQJa7YNcOBo",
          "name": "OpenAi account aqib"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $('Webhook - Accept or Negotiate').item.json.query.action }}",
                    "rightValue": "accept",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $('Webhook - Accept or Negotiate').item.json.query.action }}",
                    "rightValue": "negotiate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "11080033-6272-4b5c-9cd0-849f48461fb1",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1936,
        20256
      ]
    },
    {
      "parameters": {
        "path": "quote-response",
        "options": {}
      },
      "id": "3207e5e9-9fc6-419b-a18f-c6a72c81b4ab",
      "name": "Webhook - Accept or Negotiate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1600,
        20256
      ],
      "webhookId": "e6a8881b-ea78-453d-a7d4-422740540ac8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "body",
              "value": "={{ JSON.stringify({ customer_data: $('Webhook - Accept or Negotiate').item.json.query.customer_data, quote_data: $('Webhook - Accept or Negotiate').item.json.query.quote_data }) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "0e9caaed-f9b0-44ea-ab00-cb8db8898618",
      "name": "Prepare Accept Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        20256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jldev.app.n8n.cloud/webhook/620efe59-f1a8-44ff-a50f-0a5f62a15915",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "id": "21f8e651-e954-465e-bb60-6d4e7232c15a",
      "name": "Call Accept Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2544,
        20256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "quoteStatus",
              "value": "NEGOTIATING",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "negotiationRound",
              "value": "={{ Number($json.query.negotiation_round || 0) + 1 }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "6ee2fd4d-d5a1-4f59-b060-57b6af73c618",
      "name": "Mark Quote as Negotiating",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2256,
        20512
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.customer_data.contactEmail }}",
        "subject": "Your Quote from Elevator Services",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "244f77b1-a95c-499f-b7ac-c5936f0d440d",
      "name": "Send Quote Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        20960
      ],
      "webhookId": "d4688355-53d8-43fe-9b7c-5120bb35430c",
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook - Accept or Negotiate').item.json.query.email }}",
        "subject": "RE: Your Quote - Negotiation Response",
        "message": "={{ $json.output }}\n\n---\n\n<p><strong>What would you like to do?</strong></p>\n<p>\n  <a href=\"https://jldev.app.n8n.cloud/webhook/quote-response?action=accept&email={{ encodeURIComponent($('Webhook - Accept or Negotiate').item.json.query.email) }}&customer_data={{ encodeURIComponent(JSON.stringify($('Webhook - Accept or Negotiate').item.json.query.customer_data)) }}&quote_data={{ encodeURIComponent(JSON.stringify($json.output)) }}&negotiation_round={{ Number($('Webhook - Accept or Negotiate').item.json.query.negotiation_round || 0) + 1 }}\" style=\"display: inline-block; padding: 12px 24px; background-color: #28a745; color: white; text-decoration: none; border-radius: 4px; margin-right: 10px;\">Accept This Quote</a>\n  <a href=\"https://jldev.app.n8n.cloud/webhook/quote-response?action=negotiate&email={{ encodeURIComponent($('Webhook - Accept or Negotiate').item.json.query.email) }}&customer_data={{ encodeURIComponent(JSON.stringify($('Webhook - Accept or Negotiate').item.json.query.customer_data)) }}&quote_data={{ encodeURIComponent(JSON.stringify($json.output)) }}&negotiation_round={{ Number($('Webhook - Accept or Negotiate').item.json.query.negotiation_round || 0) + 1 }}\" style=\"display: inline-block; padding: 12px 24px; background-color: #007bff; color: white; text-decoration: none; border-radius: 4px;\">Continue Negotiating</a>\n</p>",
        "options": {}
      },
      "id": "03926c71-af00-4dc0-8a1f-d9d7ed9ee74b",
      "name": "Send Negotiation Response",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2992,
        20512
      ],
      "webhookId": "3af8c374-a6de-4836-9dda-9ba77c0c3331",
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customerEmail }}",
        "subject": "Quote Accepted - Job Scheduled",
        "message": "=Dear Customer,\n\nYour quote has been accepted and your service visit has been scheduled.\n\n<strong>Appointment Details:</strong><br>\nDate: {{ $json.date }}<br>\nTime: {{ $json.startTime }}<br>\nDuration: {{ $json.duration }} hours<br>\n\nWe look forward to serving you!\n\nBest regards,<br>\nElevator Services Team",
        "options": {}
      },
      "id": "0073ef1f-4a54-42da-a4c6-87f50729a14c",
      "name": "Send Acceptance Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2576,
        22016
      ],
      "webhookId": "3a748c25-8efc-4a91-b58b-a77cb1b355e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Quote"
          ],
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "ecbf8a82-9144-44d2-883f-391b8fd9bad5",
      "name": "Gmail Reply Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        1296,
        21504
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email body from Gmail trigger\nconst emailBody = $input.item.json.text?.body || $input.item.json.snippet || '';\nconst emailSubject = $input.item.json.subject || '';\nconst fullText = (emailSubject + ' ' + emailBody).toLowerCase();\n\n// Define keyword patterns for intent classification\nconst acceptKeywords = [\n  'accept', 'approved', 'agree', 'confirmed', 'yes', 'proceed',\n  'go ahead', 'looks good', 'perfect', 'sounds good', 'deal'\n];\n\nconst negotiateKeywords = [\n  'negotiate', 'discount', 'lower', 'reduce', 'cheaper', 'better price',\n  'can you do', 'what about', 'counter offer', 'too expensive', 'too high',\n  'budget', 'adjust', 'reconsider'\n];\n\nconst questionKeywords = [\n  'question', 'clarify', 'explain', 'what is', 'how does', 'why',\n  'can you tell me', 'more information', 'details about', 'wondering',\n  'curious', 'help me understand'\n];\n\n// Count keyword matches\nlet acceptScore = 0;\nlet negotiateScore = 0;\nlet questionScore = 0;\n\nacceptKeywords.forEach(keyword => {\n  if (fullText.includes(keyword)) acceptScore++;\n});\n\nnegotiateKeywords.forEach(keyword => {\n  if (fullText.includes(keyword)) negotiateScore++;\n});\n\nquestionKeywords.forEach(keyword => {\n  if (fullText.includes(keyword)) questionScore++;\n});\n\n// Determine intent based on highest score\nlet intent = 'QUESTION'; // default\n\nif (acceptScore > negotiateScore && acceptScore > questionScore) {\n  intent = 'ACCEPT';\n} else if (negotiateScore > acceptScore && negotiateScore > questionScore) {\n  intent = 'NEGOTIATE';\n} else if (questionScore > 0) {\n  intent = 'QUESTION';\n}\n\n// Return classified intent with original email data\nreturn {\n  intent: intent,\n  emailBody: emailBody,\n  emailSubject: emailSubject,\n  acceptScore: acceptScore,\n  negotiateScore: negotiateScore,\n  questionScore: questionScore,\n  originalData: $input.item.json\n};"
      },
      "id": "ab5a8546-dcad-4f00-92ff-4ea7329d3285",
      "name": "Classify Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        21504
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "ACCEPT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "NEGOTIATE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "condition-3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "QUESTION",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "99824f7b-33d7-44f4-bd5e-c297632cc7fc",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1920,
        21488
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate Quote Status - Accept\n// Ensures quote is in PENDING or NEGOTIATING status before accepting\n// Extracts quote data from email thread or database\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const emailData = item.json;\n  \n  // Extract quote reference from email subject or body\n  const subject = emailData.subject || '';\n  const body = emailData.body || emailData.text || '';\n  \n  // Try to extract quote ID from subject or body\n  const quoteIdMatch = subject.match(/Quote[\\s#:-]*(\\w+)/i) || body.match(/Quote[\\s#:-]*(\\w+)/i);\n  const quoteId = quoteIdMatch ? quoteIdMatch[1] : null;\n  \n  // Extract quote status from email metadata or thread\n  // In a real implementation, this would query a database\n  // For now, we'll parse from email content\n  let quoteStatus = 'PENDING'; // Default status\n  \n  if (body.includes('NEGOTIATING') || body.includes('negotiation_round')) {\n    quoteStatus = 'NEGOTIATING';\n  } else if (body.includes('ACCEPTED') || body.includes('Quote Accepted')) {\n    quoteStatus = 'ACCEPTED';\n  }\n  \n  // Validate status\n  if (quoteStatus === 'ACCEPTED') {\n    throw new Error(`Quote ${quoteId || 'unknown'} has already been accepted. Cannot accept again.`);\n  }\n  \n  if (quoteStatus !== 'PENDING' && quoteStatus !== 'NEGOTIATING') {\n    throw new Error(`Quote ${quoteId || 'unknown'} has invalid status: ${quoteStatus}. Expected PENDING or NEGOTIATING.`);\n  }\n  \n  // Extract quote data from email\n  // Try to parse JSON from email body if present\n  let quoteData = null;\n  const jsonMatch = body.match(/\\{[\\s\\S]*\"customer_data\"[\\s\\S]*\\}/i);\n  if (jsonMatch) {\n    try {\n      quoteData = JSON.parse(jsonMatch[0]);\n    } catch (e) {\n      console.log('Failed to parse quote data from email:', e.message);\n    }\n  }\n  \n  // If no quote data found in email, create placeholder for database lookup\n  if (!quoteData) {\n    quoteData = {\n      quoteId: quoteId,\n      status: quoteStatus,\n      needsDatabaseLookup: true\n    };\n  }\n  \n  results.push({\n    json: {\n      ...emailData,\n      quoteId: quoteId,\n      quoteStatus: quoteStatus,\n      quoteData: quoteData,\n      validationPassed: true,\n      validatedAt: new Date().toISOString()\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "9529c199-607e-4d33-a84e-d401dac39613",
      "name": "Validate Quote Status - Accept",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        21760
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validate that the quote is not already accepted\nconst items = $input.all();\n\nif (!items || items.length === 0) {\n  throw new Error('No input data received');\n}\n\nconst item = items[0].json;\n\n// Extract quote status from the email or previous data\n// This assumes quote status is tracked in the workflow data\nconst quoteStatus = item.quoteStatus || 'PENDING';\n\nif (quoteStatus === 'ACCEPTED') {\n  throw new Error('This quote has already been accepted and cannot be negotiated further');\n}\n\n// Extract quote data for negotiation\nconst quoteData = item.query?.quote_data || item.quote_data;\nconst customerData = item.query?.customer_data || item.customer_data;\nconst customerEmail = item.query?.email || item.email;\nconst negotiationRound = Number(item.query?.negotiation_round || item.negotiation_round || 0);\n\nif (!quoteData) {\n  throw new Error('Quote data not found in the request');\n}\n\nif (!customerEmail) {\n  throw new Error('Customer email not found in the request');\n}\n\n// Return validated data for negotiation\nreturn {\n  quoteStatus,\n  quoteData,\n  customerData,\n  customerEmail,\n  negotiationRound,\n  canNegotiate: true\n};"
      },
      "id": "8ff41e1b-b8fb-4445-921e-51e500036a72",
      "name": "Validate Quote Status - Negotiate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        21024
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "quoteStatus",
              "value": "ACCEPTED",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "acceptedDate",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e8a4e839-971e-44f4-a944-267976ab142b",
      "name": "Mark Quote as Accepted",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2848,
        21760
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "jobId",
              "value": "={{ $now.toMillis() }}-{{ Math.random().toString(36).substring(2, 9) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "customerEmail",
              "value": "={{ $('Webhook - Accept or Negotiate').item.json.query.customer_data.contactEmail }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "scheduledDate",
              "value": "={{ $('Webhook - Accept or Negotiate').item.json.query.customer_data.visitDate }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "serviceType",
              "value": "={{ $('Webhook - Accept or Negotiate').item.json.query.customer_data.serviceType }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "705242da-f724-4ee1-be04-bc3d24e21066",
      "name": "Create Job Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        21760
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "b3395288193ab0d29dae6e0c7f8bee7beccbb265c65f9d9d0b1ea790cf281d8f@group.calendar.google.com"
        },
        "start": "={{ $json.startTime }}",
        "end": "={{ $json.endTime }}",
        "additionalFields": {
          "attendees": [
            "={{ $json.customerEmail }}"
          ],
          "summary": "={{ $json.summary }}"
        }
      },
      "id": "250ee238-f1de-4697-81e2-161d1b48e84f",
      "name": "Schedule Job Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        3536,
        21664
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "8UsrYaIKLiJdfYfh",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Reply Trigger').item.json.id }}",
        "message": "=<p>Dear Customer,</p>\n\n<p>Thank you for accepting our quote! We're excited to confirm that your service visit has been scheduled.</p>\n\n<p><strong>Job Details:</strong></p>\n<ul>\n  <li><strong>Date:</strong> {{ $('Create Job Data').item.json.date }}</li>\n  <li><strong>Time:</strong> {{ $('Create Job Data').item.json.startTime }}</li>\n  <li><strong>Duration:</strong> {{ $('Create Job Data').item.json.duration }} hours</li>\n  <li><strong>Service:</strong> {{ $('Create Job Data').item.json.serviceType }}</li>\n</ul>\n\n<p><strong>We're scheduled and ready to serve you!</strong></p>\n\n<p>A calendar invitation has been sent to your email. If you have any questions or need to make changes, please don't hesitate to contact us.</p>\n\n<p>Best regards,<br>\nElevator Services Team</p>",
        "options": {}
      },
      "id": "cc6ac50c-4c62-4326-9027-09d1cd79fc42",
      "name": "Reply - Accept Confirmation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3760,
        21664
      ],
      "webhookId": "54c942c0-8bfe-47b8-a517-7deb02268dc4",
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "quoteStatus",
              "value": "NEGOTIATING",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "negotiationRound",
              "value": "={{ Number($json.negotiationRound || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "lastNegotiationDate",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "565863a2-4b67-49cd-9748-aad6a6231a11",
      "name": "Update Negotiation Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        21024
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.emailBody }}",
        "options": {
          "systemMessage": "You are a professional price negotiation assistant for an elevator service company.\n\nYOUR ROLE:\n1. Review the customer's message and understand their negotiation request\n2. Use the knowledge_base tool to retrieve detailed pricing information and service specifications\n3. Negotiate pricing within company guidelines (max 15% discount from original total)\n4. Provide revised quotes with clear explanations\n5. Answer questions about pricing, services, and terms\n\nNEGOTIATION GUIDELINES:\n- Be professional, empathetic, and consultative\n- Explain the value proposition clearly (quality, reliability, expertise)\n- Only offer discounts when justified:\n  * Volume discounts for multiple units or long-term contracts\n  * Loyalty discounts for returning customers\n  * Urgency-based pricing adjustments\n- Maximum discount: 15% off the original total price\n- Always explain what is included in the price\n- Confirm final pricing clearly\n- Ask clarifying questions when customer requests are unclear\n\nWHEN PROVIDING REVISED QUOTES:\n- Show original price vs. negotiated price\n- Itemize all services and products included\n- Explain the discount applied and why\n- Include terms and conditions\n- Provide validity period\n- Suggest next steps (accept quote, continue discussion, etc.)\n\nREMEMBER:\n- You cannot go below 85% of the original quote total\n- Be transparent about what you can and cannot adjust\n- If customer asks for something outside your authority, acknowledge it and suggest escalation\n- Use the knowledge base to ensure accurate pricing and service details"
        }
      },
      "id": "d8f7d0a3-dfe8-4856-9987-ce75964d632e",
      "name": "Negotiation AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3152,
        21024
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "24e7b44b-5a13-4091-b3f9-ebedcb424d7d",
      "name": "OpenAI Model - Negotiation",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3168,
        21424
      ],
      "credentials": {
        "openAiApi": {
          "id": "DqDKxqsttbSQZozo",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Reply Trigger').item.json.id }}",
        "message": "={{ $('Negotiation AI Agent').item.json.output }}\n\n---\n\n<p><strong>To accept this revised quote, simply reply to this email with the word \"ACCEPT\"</strong></p>\n<p>To continue negotiating or ask questions, reply with your message.</p>",
        "options": {}
      },
      "id": "28d82f8d-c32e-4e31-8acd-2e5c67277740",
      "name": "Reply - Negotiation Response",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3536,
        21024
      ],
      "webhookId": "af4cf7a0-8e90-4547-a1de-a08c654b73ac",
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {
          "systemMessage": "You are a helpful customer service assistant for an elevator service company.\n\nYour role is to answer questions about quotes, services, and general inquiries WITHOUT changing the quote status or initiating negotiations.\n\nGuidelines:\n- Answer questions clearly and professionally\n- Use the knowledge_base tool to retrieve accurate information about services, pricing, and terms\n- Provide helpful explanations about quote line items, services, and company policies\n- If the customer wants to negotiate or accept a quote, politely inform them to use the appropriate action links in their quote email\n- Do not modify quotes or pricing - only provide information\n- Be friendly and supportive\n\nRemember: You are here to inform and assist, not to negotiate or finalize quotes."
        }
      },
      "id": "0ae4e1a4-1799-4e79-bf7b-92ffffdf9902",
      "name": "Question AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2432,
        21408
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "6319b8d5-f51b-4907-9980-26b7dc8a0db5",
      "name": "OpenAI Model - Question",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2416,
        21616
      ],
      "credentials": {
        "openAiApi": {
          "id": "DqDKxqsttbSQZozo",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.messageId }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "523e52b6-7b96-4810-aa0f-9fdba80ea20f",
      "name": "Reply - Question Answer",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2816,
        21488
      ],
      "webhookId": "968fc532-0b26-4d93-ba15-d8cf76076840",
      "credentials": {
        "gmailOAuth2": {
          "id": "pKSZJXcTBr9r2Wu7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Knowledge Base Files": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Query Data Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Quote Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Data Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Negotiation AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Question AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Quote Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send Negotiation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send Acceptance Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Accept or Negotiate": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Prepare Accept Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Quote as Negotiating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Accept Data": {
      "main": [
        [
          {
            "node": "Call Accept Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Quote as Negotiating": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Reply Trigger": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Validate Quote Status - Accept",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Quote Status - Negotiate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Quote Status - Accept": {
      "main": [
        [
          {
            "node": "Mark Quote as Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Quote as Accepted": {
      "main": [
        [
          {
            "node": "Create Job Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Data": {
      "main": [
        [
          {
            "node": "Schedule Job Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Job Calendar Event": {
      "main": [
        [
          {
            "node": "Reply - Accept Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Quote Status - Negotiate": {
      "main": [
        [
          {
            "node": "Update Negotiation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Negotiation Status": {
      "main": [
        [
          {
            "node": "Negotiation AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Negotiation": {
      "ai_languageModel": [
        [
          {
            "node": "Negotiation AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Negotiation AI Agent": {
      "main": [
        [
          {
            "node": "Reply - Negotiation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Question": {
      "ai_languageModel": [
        [
          {
            "node": "Question AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Question AI Agent": {
      "main": [
        [
          {
            "node": "Reply - Question Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fd87e58-9382-4c4e-a08f-e75f9b1cadc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec1f7c6face26bf6b2ece7671d0f3816b3ac244762307e865d9e49d7421aa88d"
  },
  "id": "UxdxB1c5ws1EYMlx",
  "tags": []
}